body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}
button{
    background-color: #5f9341;
    color:white;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #5f9341;

}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{
    color:#5f9341
}

#delete-btn{
    border: 1px solid #5f9341;
    background-color: white;
    color:#5f9341
}

#tab-btn{
    width: 120px;
}